<% provide(:title, "About") %>


 <div class="mainCont">
  <h1>This is our history and the reasons of our opening!</h1>
      <p>We have opened our shop in December 2018 in Dublin City centre and there are only three people working beside the store owner.</p>
<p>The solution to the nappy pollution that we propose is for people to use re-usable nappies.</p>	

<%= image_tag("nappyshop.jpg", alt: "NappyShop", :class => "nappyshop") %>

</br>
<p>Modern ones are very similar to disposable in shapes, but they are a bit bulky. 
On one side, they require time and energy in keeping them clean, 
which can be addressed with time management and organization and with the control of energy used 
in washing them (at low temperatures) and in drying them (hanging them outside instead of using the tumble drier). 
This way carbon emissions can be restricted.</p>

<%= image_tag("hangingnappy.jpeg", alt: "hanging", :class => "hanging") %>


<p>This is a small step to maintain our Planet Earth safe!</p>

<%= image_tag("mountain.jpg", alt: "mountain", :class => "mountain") %>
</div>

<p></p>
<%= yield %>